.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html,body{
  height:100%;
}

body{
  background:linear-gradient(180deg,#c3feff,#ffc5eb);
  font-family:Bebas Neue;
  font-size:2rem;
  margin:0;
  padding:0;
  display:flex;
  justify-content:center;
  align-items:center;
}

p{
  margin:15px 0 15px 0;
}

#drum-machine{
  display:flex;
  justify-content:center;
  align-items:center;
  background-color:white;
  border:5px solid #f7e018;
  width:500px;
}

#pads-container{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  grid-template-rows:repeat(3,1fr);
  grid-gap:20px;
  padding:10px;

}

.drum-pad{
  width:80px;
  height:80px;
  font-size:3rem;
  background-color:#f7e018;
  box-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  border:none;
  outline:none;
  font-family:Bebas Neue;
}

#display{
  background-color:#202020;
  padding:10px;
  width:130px;
  color:white;
}

#volume-container{
  line-height:0;
}

#power-container{
  line-height:0;
  
}

#configuration{
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  margin-left:30px;
  margin-top:30px;
  height:310px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #202020;
}

input:focus + .slider {
  box-shadow: 0 0 1px #202020;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input[type="range"]{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  background:#202020;
  outline:none;
  width:130px;
  border:4px solid #202020;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: white;
  cursor: pointer; /* Cursor on hover */
}

input[type="range"]::-moz-range-thumb {
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: white;
  border-radius:0;
  cursor: pointer; /* Cursor on hover */
}
